<nav class="navbar">
    <ul class="nav-list">
      <ng-container>
        <li class="nav-item">
          <a routerLink="#">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="products">Products</a>
        </li>
        <li class="nav-item">
          <a routerLink="#">Dealers List</a>
        </li>
        <li class="nav-item">
          <a routerLink="#">Search Product</a>
        </li>
        <li class="nav-item">
          <a routerLink="#">Logout</a>
        </li>
     
        <li class="nav-item">
          <a routerLink="#">Register</a>
        </li>
        <li class="nav-item">
          <a  routerLink="#">Login</a>
        </li>
      </ng-container>
      <li class="nav-item">
        <a routerLink="#">About Us</a>
      </li>
    </ul>
  </nav>

