<div class="app">
  <header class="app-header">
    <img src="/images/phlogo.png" class="app-logo" alt="logo">
    <h1>PRODUCT HIVE</h1>
  </header>
 
  <!-- Render NavBar Component-->
   <app-navbar></app-navbar>
 
   <div style="background-image: url(/images/pms3.jpg);background-repeat: no-repeat;background-size: cover;">
    <section>
      <router-outlet></router-outlet>
    </section>
    </div>
 
    <footer class="footer">
      <p>&copy; All Rights Reserved to Coforge Technologies</p>
    </footer>
   </div>
 